# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Outputs
outputs/*.csv
outputs/*.xlsx
outputs/logs/*.txt

# IDE
.vscode/
.idea/
